#### Introduction

Personal introduction

Excel vs Python

Case studies
- Working with a few large datasets
- Working with many small data sources

Python in Excel

# Personal Introduction

- 17 years in IBM
- 3 years of Python experience
- not a programmer
- very passionate about Automation

This code is on
https://github.com/frankobuneta/work_automation

# Excel vs Python

        Excel         |     Python
----------------------|----------------------
 Easy to use          | Fast
 Visual all the way   | Programming language
---------------------------------------------
 Slow on 20+ MB       | Learning curve
 Difficult to scale   | Not forgiving
 Hard to integrate    | Pythonic
 Date, wtf            | Datetime64, wtf

#### Pre-requisites

Installing python
Installing virtual environment (optional)
Activating virtual environment (optional)

pip install jupyter notebook
pip install pandas
pip install openpyxl

#### Basic building blocks

What are libraries?
The difference between standard and pandas.

What is Jupyter Noteboook?

Code, Markdown and Raw

#### Importing libraries

In [1]:
import pandas as pd

#### Case 1: Working with a few large datasets

kaggle data - Football Data from Transfermarkt
Football (Soccer) data scraped from Transfermarkt website

https://www.kaggle.com/datasets/davidcariboo/player-scores
Size: 75 MB (zipped)
Rows: 1.523.026

Compare file sizes, time to load to Python

appearances.csv -> 116 MB -> 2.17 seconds

appearances.xlsx -> failed max sheet size is 1.048.576
---> reduce number of rows to 1.048.576
appearances.xlsx -> 67 MB (would be 100MB at 1.5 mil rows) -> 219 seconds (would be 330 seconds at 1.5 mil rows)

# Introducing DataFrame

pd.DataFrame()

------------------

pd.DataFrame(
    'column_name': [column_data]
    )

------------------

pd.DataFrame(
    'column_name': pd.Series([column_data], dtype='string')
    )

My typical folder structure is


project folder (i.e.)
C:\Users\FrankoBuneta1\python_projects\workplace_automation\

files folder (all the working files are copied here)
C:\Users\FrankoBuneta1\python_projects\workplace_automation\files\

pickles folder (all the pickles go here)

reports folder (all the reports go here)

...and then there are other folders

Box (virtual folder on the Cloud, depending on the organization can be SharePoint, OneDrive, Google Drive, DropBox, etc)
Downloads folder (downloads go here by default)

In [2]:
# mostly to work with files and folders
import os
# to copy files
import shutil

In [3]:
project_path = os.getcwd().replace('\\','/') + '/'
user_path = '/'.join(project_path.split('/')[:3]) + '/'

paths = {
    'project': project_path,
    'files': project_path + 'files/',
    'pickles': project_path + 'pickles/',
    'reports': project_path + 'reports/',
    'user': user_path,
    'downloads': user_path + 'Downloads/',
    'box': user_path + 'Box'}
paths

{'project': 'C:/Users/FrankoBuneta1/python_projects/workplace_automation/',
 'files': 'C:/Users/FrankoBuneta1/python_projects/workplace_automation/files/',
 'pickles': 'C:/Users/FrankoBuneta1/python_projects/workplace_automation/pickles/',
 'reports': 'C:/Users/FrankoBuneta1/python_projects/workplace_automation/reports/',
 'user': 'C:/Users/FrankoBuneta1/',
 'downloads': 'C:/Users/FrankoBuneta1/Downloads/',
 'box': 'C:/Users/FrankoBuneta1/Box'}

In [4]:
# The way you call a value for a key from a dictionary
paths['files']

'C:/Users/FrankoBuneta1/python_projects/workplace_automation/files/'

In [5]:
# our first function
def getpath(path: str, file_name: str) -> str:
    return paths[path] + file_name

In [6]:
getpath('files', 'appearances.csv')

'C:/Users/FrankoBuneta1/python_projects/workplace_automation/files/appearances.csv'

In [7]:
def copyfile(from_folder: str, to_folder: str, file_name: str):
    from_path = getpath(from_folder, file_name)
    to_path = paths[to_folder]
    shutil.copy2(from_path, to_path)

In [8]:
copyfile('downloads', 'files', 'appearances.csv')

In [ ]:
# I use this functionality of 
os.path.exists()

#### Discovery and exploration

In [9]:
# Loading data from CSV file to DataFrame - variable name is appearances_data_frame

app_path = 'files/appearances.csv'
appearances = pd.read_csv(app_path)

In [10]:
appearances

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523021,4095269_534033,4095269,534033,31,31,2024-01-01,Alexis Mac Allister,GB1,0,0,0,0,15
1523022,4095269_546543,4095269,546543,31,31,2024-01-01,Darwin Núñez,GB1,0,0,0,1,64
1523023,4095269_670858,4095269,670858,762,762,2024-01-01,Lewis Hall,GB1,0,0,0,0,8
1523024,4095269_74960,4095269,74960,762,762,2024-01-01,Martin Dúbravka,GB1,1,0,0,0,90
1523025,4095269_922769,4095269,922769,762,762,2024-01-01,Lewis Miley,GB1,1,0,0,0,54

In [11]:
# Show number of (rows, columns) of this DataFrame (table)
appearances.shape

(1523026, 13)

In [12]:
# Some more information about the DataFrame
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523026 entries, 0 to 1523025
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1523026 non-null  object
 1   game_id                 1523026 non-null  int64
 2   player_id               1523026 non-null  int64
 3   player_club_id          1523026 non-null  int64
 4   player_current_club_id  1523026 non-null  int64
 5   date                    1523026 non-null  object
 6   player_name             1522702 non-null  object
 7   competition_id          1523026 non-null  object
 8   yellow_cards            1523026 non-null  int64
 9   red_cards               1523026 non-null  int64
 10  goals                   1523026 non-null  int64
 11  assists                 1523026 non-null  int64
 12  minutes_played          1523026 non-null  int64
dtypes: int64(9), object(4)
memory usage: 151.1+ MB

# Some comments here
Data types - object is always most expensive to memory/storage
Object cannot be further reduced as Category

In [13]:
# Converting object dtypes to more appropriate dtypes
appearances['appearance_id'] = appearances['appearance_id'].astype('string')
appearances['player_name'] = appearances['player_name'].astype('string')
appearances['competition_id'] = appearances['competition_id'].astype('string')
appearances['date'] = pd.to_datetime(appearances['date'])

In [14]:
# Some more information about the DataFrame
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523026 entries, 0 to 1523025
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1523026 non-null  string
 1   game_id                 1523026 non-null  int64
 2   player_id               1523026 non-null  int64
 3   player_club_id          1523026 non-null  int64
 4   player_current_club_id  1523026 non-null  int64
 5   date                    1523026 non-null  datetime64[ns]
 6   player_name             1522702 non-null  string
 7   competition_id          1523026 non-null  string
 8   yellow_cards            1523026 non-null  int64
 9   red_cards               1523026 non-null  int64
 10  goals                   1523026 non-null  int64
 11  assists                 1523026 non-null  int64
 12  minutes_played          1523026 non-null  int64
dtypes: datetime64[ns](1), int64(9), string(3)
memory usage: 151.1 MB

In [15]:
# Before we convert to category, let's save columns and data types
# This code is a bit advanced stuff

{column_name: f'{column_series.dtype}' for column_name, column_series in appearances.items()}

{'appearance_id': 'string',
 'game_id': 'int64',
 'player_id': 'int64',
 'player_club_id': 'int64',
 'player_current_club_id': 'int64',
 'date': 'datetime64[ns]',
 'player_name': 'string',
 'competition_id': 'string',
 'yellow_cards': 'int64',
 'red_cards': 'int64',
 'goals': 'int64',
 'assists': 'int64',
 'minutes_played': 'int64'}

In [16]:
# Total number of rows from shape
tot_rows = appearances.shape[0]

# Loop for every column in the table generating two variables every time: column name and column series (column data)
for column_name, column_series in appearances.items():
    # If unique values of the column are 20% of total rows
    if column_series.nunique() < tot_rows * 0.2:
        # Convert to category
        appearances[column_name] = appearances[column_name].astype('category')

In [17]:
# Function to convert all the appropriate columns to category
def convert_to_category(data_frame_tc: pd.DataFrame) -> pd.DataFrame:
    # Total number of rows from shape
    tot_rows = data_frame_tc.shape[0]
    
    # Loop for every column in the table generating two variables every time: column name and column series (column data)
    for column_name, column_series in data_frame_tc.items():
        # If unique values of the column are 20% of total rows
        if column_series.nunique() < tot_rows * 0.2:
            # Convert to category
            data_frame_tc[column_name] = data_frame_tc[column_name].astype('category')

In [18]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1523026 entries, 0 to 1523025
Data columns (total 13 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   appearance_id           1523026 non-null  string
 1   game_id                 1523026 non-null  category
 2   player_id               1523026 non-null  category
 3   player_club_id          1523026 non-null  category
 4   player_current_club_id  1523026 non-null  category
 5   date                    1523026 non-null  category
 6   player_name             1522702 non-null  category
 7   competition_id          1523026 non-null  category
 8   yellow_cards            1523026 non-null  category
 9   red_cards               1523026 non-null  category
 10  goals                   1523026 non-null  category
 11  assists                 1523026 non-null  category
 12  minutes_played          1523026 non-null  category
dtypes: category(12), string(1)
memory usage: 44.7 MB

Category is great!

Advantage: huge memory saving, faster loading times
Disadvantage: hard to modify, best to convert to original dtypes all the columns while you are working with them

In [19]:
# Exporting to pickle
appearances.to_pickle('pickles/appearances.pickle')

In [20]:
# Library for working with time
import time

# measure the starting time (in seconds)
start = time.perf_counter()
# load the pickle
appearances = pd.read_pickle('pickles/appearances.pickle')
# get me the difference between after loading and start in seconds
difference = time.perf_counter() - start

# Print the elapsed time difference .2f means format to two decimal places
print(f'ET: {difference:.2f}')

ET: 0.20

Compare file sizes, time to load to Python

appearances.csv -> 116 MB -> 2.17 seconds

appearances.xlsx -> failed max sheet size is 1.048.576
---> reduce number of rows to 1.048.576
appearances.xlsx -> 67 MB (would be 100MB at 1.5 mil rows) -> 219 seconds (would be 330 seconds at 1.5 mil rows)

appearance.pickle -> 55 MB > 0.23 seconds

Ideas for additional automation

- put all of these steps in one function
- automate if file exists in files folder, you don't copy from Downloads
- automate that if pickle exists DataFrame is loaded from pickle
- check if there is a new file, otherwise use existing pickle

#### Data manipulation, slicing, etc.

In [21]:
appearances = pd.read_pickle('pickles/appearances.pickle')
appearances

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523021,4095269_534033,4095269,534033,31,31,2024-01-01,Alexis Mac Allister,GB1,0,0,0,0,15
1523022,4095269_546543,4095269,546543,31,31,2024-01-01,Darwin Núñez,GB1,0,0,0,1,64
1523023,4095269_670858,4095269,670858,762,762,2024-01-01,Lewis Hall,GB1,0,0,0,0,8
1523024,4095269_74960,4095269,74960,762,762,2024-01-01,Martin Dúbravka,GB1,1,0,0,0,90
1523025,4095269_922769,4095269,922769,762,762,2024-01-01,Lewis Miley,GB1,1,0,0,0,54

In [22]:
appearances.columns

Index(['appearance_id', 'game_id', 'player_id', 'player_club_id',
       'player_current_club_id', 'date', 'player_name', 'competition_id',
       'yellow_cards', 'red_cards', 'goals', 'assists', 'minutes_played'],
      dtype='object')

In [23]:
[column_name for column_name in appearances.columns if 'cards' not in column_name]

['appearance_id',
 'game_id',
 'player_id',
 'player_club_id',
 'player_current_club_id',
 'date',
 'player_name',
 'competition_id',
 'goals',
 'assists',
 'minutes_played']

In [24]:
[column_name for column_name in appearances.columns if 'cards' not in column_name][2:]

['player_id',
 'player_club_id',
 'player_current_club_id',
 'date',
 'player_name',
 'competition_id',
 'goals',
 'assists',
 'minutes_played']

In [25]:
column_selection = [column_name for column_name in appearances.columns if 'cards' not in column_name][2:]
appearances[column_selection]

,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,goals,assists,minutes_played
0,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2,0,90
1,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,90
2,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,45
3,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,90
4,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,1,90
...,...,...,...,...,...,...,...,...,...
1523021,534033,31,31,2024-01-01,Alexis Mac Allister,GB1,0,0,15
1523022,546543,31,31,2024-01-01,Darwin Núñez,GB1,0,1,64
1523023,670858,762,762,2024-01-01,Lewis Hall,GB1,0,0,8
1523024,74960,762,762,2024-01-01,Martin Dúbravka,GB1,0,0,90
1523025,922769,762,762,2024-01-01,Lewis Miley,GB1,0,0,54

In [26]:
appearances['player_name']

0             Aurélien Joachim
1               Ruslan Abyshov
2                  Sander Puri
3              Vegar Hedenstad
4             Markus Henriksen
                  ...
1523021    Alexis Mac Allister
1523022           Darwin Núñez
1523023             Lewis Hall
1523024        Martin Dúbravka
1523025            Lewis Miley
Name: player_name, Length: 1523026, dtype: category
Categories (23336, string): [A.J. Soares, AJ Leitch-Smith, Aaron Appindangoyé, Aaron Bastiaans, ..., İsmail Yüksek, İsmail Çokçalış, İzzet Çelik, Αbdul Razak]

In [27]:
column_selection.sort()
appearances[column_selection]

,assists,competition_id,date,goals,minutes_played,player_club_id,player_current_club_id,player_id,player_name
0,0,CLQ,2012-07-03,2,90,853,235,38004,Aurélien Joachim
1,0,ELQ,2012-07-05,0,90,8841,2698,79232,Ruslan Abyshov
2,0,ELQ,2012-07-05,0,45,6251,465,42792,Sander Puri
3,0,ELQ,2012-07-05,0,90,1274,6646,73333,Vegar Hedenstad
4,1,ELQ,2012-07-05,0,90,195,3008,122011,Markus Henriksen
...,...,...,...,...,...,...,...,...,...
1523021,0,GB1,2024-01-01,0,15,31,31,534033,Alexis Mac Allister
1523022,1,GB1,2024-01-01,0,64,31,31,546543,Darwin Núñez
1523023,0,GB1,2024-01-01,0,8,762,762,670858,Lewis Hall
1523024,0,GB1,2024-01-01,0,90,762,762,74960,Martin Dúbravka
1523025,0,GB1,2024-01-01,0,54,762,762,922769,Lewis Miley

In [ ]:
appearances[['date', 'goals']]

#### Data transformation

In [28]:
appearances = pd.read_pickle('pickles/appearances.pickle')

Task: I want to see appearances of all the players from my favourite club!

In [29]:
clubs = pd.read_csv('files/clubs.csv')

In [30]:
clubs[clubs['name'] == 'Liverpool']

Empty DataFrame
Columns: [club_id, club_code, name, domestic_competition_id, total_market_value, squad_size, average_age, foreigners_number, foreigners_percentage, national_team_players, stadium_name, stadium_seats, net_transfer_record, coach_name, last_season, filename, url]
Index: []

In [31]:
clubs[clubs['name'].str.contains('Liverpool')]

,club_id,club_code,name,domestic_competition_id,total_market_value,squad_size,average_age,foreigners_number,foreigners_percentage,national_team_players,stadium_name,stadium_seats,net_transfer_record,coach_name,last_season,filename,url
43,31,fc-liverpool,Liverpool Football Club,GB1,NaN,26,26.2,21,80.8,18,Anfield,54074,€-111.30m,NaN,2023,../data/raw/transfermarkt-scraper/2023/clubs.j...,https://www.transfermarkt.co.uk/fc-liverpool/s...

In [32]:
appearances[appearances['player_current_club_id'] == 31]

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
2695,2247091_3109,2247091,3109,31,31,2012-08-02,Steven Gerrard,ELQ,0,0,0,0,90
2696,2247091_35571,2247091,35571,31,31,2012-08-02,José Enrique,ELQ,0,0,0,0,90
2697,2247091_3597,2247091,3597,31,31,2012-08-02,Jamie Carragher,ELQ,0,0,0,0,90
2703,2247091_52111,2247091,52111,31,31,2012-08-02,Jay Spearing,ELQ,0,0,0,0,90
2704,2247091_61651,2247091,61651,31,31,2012-08-02,Jordan Henderson,ELQ,1,0,0,0,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523015,4095269_451276,4095269,451276,31,31,2024-01-01,Dominik Szoboszlai,GB1,0,0,0,0,64
1523016,4095269_478573,4095269,478573,31,31,2024-01-01,Ryan Gravenberch,GB1,0,0,0,0,26
1523017,4095269_480692,4095269,480692,31,31,2024-01-01,Luis Díaz,GB1,1,0,0,0,64
1523021,4095269_534033,4095269,534033,31,31,2024-01-01,Alexis Mac Allister,GB1,0,0,0,0,15
1523022,4095269_546543,4095269,546543,31,31,2024-01-01,Darwin Núñez,GB1,0,0,0,1,64

Explanation of a difference between INDEX/MATCH and LEFT JOIN

In [33]:

print('Clubs data frame size: ' + str(clubs.shape))
club_columns = clubs[['club_id', 'name']].drop_duplicates(subset='club_id').copy()
print('Clubs data frame size: ' + str(club_columns.shape))

club_columns.rename(columns={'club_id': 'player_club_id', 'name': 'club_name'}, inplace=True)

# You could also do
# club_columns = club_columns.rename(columns={'club_id': 'player_club_id'})

Clubs data frame size: (426, 17)
Clubs data frame size: (426, 2)

In [34]:
print('appearance data frame size: ' + str(appearances.shape))
app_with_club = pd.merge(appearances, club_columns, on='player_club_id', how='left')
print('app_with_club data frame size: ' + str(app_with_club.shape))

appearance data frame size: (1523026, 13)
app_with_club data frame size: (1523026, 14)

In [35]:
app_with_club

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played,club_name
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90,NaN
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90,NaN
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45,NaN
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90,NaN
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1523021,4095269_534033,4095269,534033,31,31,2024-01-01,Alexis Mac Allister,GB1,0,0,0,0,15,Liverpool Football Club
1523022,4095269_546543,4095269,546543,31,31,2024-01-01,Darwin Núñez,GB1,0,0,0,1,64,Liverpool Football Club
1523023,4095269_670858,4095269,670858,762,762,2024-01-01,Lewis Hall,GB1,0,0,0,0,8,Newcastle United Football Club
1523024,4095269_74960,4095269,74960,762,762,2024-01-01,Martin Dúbravka,GB1,1,0,0,0,90,Newcastle United Football Club
1523025,4095269_922769,4095269,922769,762,762,2024-01-01,Lewis Miley,GB1,1,0,0,0,54,Newcastle United Football Club

#### Vectorization

In [ ]:
app_with_club['club_name']

In [ ]:
app_with_club['club_name'].isna()

In [ ]:
app_with_club['club_name'].isna().sum()

In [ ]:
app_with_club.iloc[1523023]

In [ ]:
app_with_club['club_name'].str.contains('Liverpool')

In [ ]:
# try: will try to execute one or more lines of code, and if the error occurs it will go to except part of the code
# this is Python's way of handling errors

try:
    app_with_club[app_with_club['club_name'].str.contains('Liverpool')]
except ValueError as err:
    print('Your error is:')
    print(err)

In [ ]:
# selection of columns to show from the entire dataframe
columns_to_show = ['player_id', 'date', 'player_name', 'competition_id', 'club_name']

# fillna will replace Null values with blank string
app_with_club[app_with_club['club_name'].fillna('').str.contains('Liverpool')][columns_to_show]

In [ ]:
# We have to convert back goals column to int (from categorical)
app_with_club['goals'] = app_with_club['goals'].astype('int')

# more than 4 goals, also added a goals column

columns_to_show.append('goals')

app_with_club[
    app_with_club['club_name'].fillna('').str.contains('Liverpool') &
    (app_with_club['goals'] > 3)
][columns_to_show]

In [ ]:

is_liverpool = app_with_club['club_name'].fillna('').str.contains('Liverpool')
criteria_2 = (app_with_club['goals'] > 3)
c = is_liverpool & criteria_2

# This is my favourite feature - changing data in rows that only have that criteria
app_with_club.loc[c, 'new_column'] = 'Top goals scored in a game'

In [ ]:
columns_to_show.append('new_column')

app_with_club[c][columns_to_show]

In [ ]:
# show three rows to see how the data was filled (and not filled in non-criteria columns)

app_with_club.iloc[189539:189542][columns_to_show]

#### Groupby (Pivot tables)

Task: how to get a top list of scorers for Liverpool in all competitions

In [ ]:
# Aggregation - reset_index
liverpool = app_with_club[is_liverpool].copy().reset_index(drop=True)

liverpool.groupby('player_name', observed=True).agg({'goals': 'sum'})

In [ ]:
# Creating a new variable that will contain groupby data
goals_pivot = liverpool.groupby('player_name', observed=True).agg({'goals': 'sum'}).reset_index()
# Reseting index the second time when we are sorting values
goals_pivot.sort_values(by='goals', ascending=False, inplace=True).reset_index(drop=True)
goals_pivot

#### Integration with a database

In [ ]:
# Creating a database connection, and copying the data to the table GOALS

import sqlite3

db_connection = sqlite3.connect('files/footbal_data.db')
goals_pivot.to_sql('GOALS', db_connection, if_exists='replace')

In [ ]:
# Getting the goals data to a DataFrame from database
goals_data = pd.read_sql('SELECT * FROM GOALS WHERE goals > 50', db_connection)
goals_data
db_connection.close()

#### Python vs Excel

NO!

#### Useful resources

https://www.youtube.com/@TechWithTim
https://www.youtube.com/@mCoding
https://www.youtube.com/@freecodecamp

https://www.udemy.com/course/100-days-of-code/
https://www.udemy.com/course/python-3-deep-dive-part-1/